.about__section-item {
  display: flex;
  align-items: center;
  gap: 1rem; /* İkon ve metin arasındaki boşluk */
  margin-bottom: 15px; /* Öğeler arasındaki boşluk */
  margin-top: 0.5rem;
}

.about__section-item i {
  color: #f9a826;
  font-size: 1.2rem; /* İkonun boyutunu ayarla */
}

.about__section-item p {
  margin: 0; /* Paragrafların üst ve alt marjinlerini sıfırla */
}

.about__img {
  display: flex;
  justify-content: center; /* Resmi yatayda ortalar */
  align-items: center; /* Resmi dikeyde ortalar */
  height: 100%; /* Kapsayıcı yüksekliği tam olarak alır */
  width: 100%; /* Kapsayıcı genişliği tam olarak alır */
}

.section__description {
  font-size: 1.1rem;
  text-align: justify;
  margin-top: 1.3rem;
}

.about__section-item p {
  font-size: 1rem;
}

@media only screen and (max-width: 992px) {
  .about__section-content h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .about__img {
    margin-top: 30px;
  }

  .section__description {
    font-size: 1rem;
  }

  .about__section-content {
    margin-top: 20px;
  }

  .about__section-item p {
    font-size: 1rem !important;
  }

  .section__subtitle {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 576px) {
  .section__description {
    font-size: 0.9rem;
  }

  .about__section-content {
    margin-top: 20px;
  }

  .about__section-item p {
    font-size: 0.8rem !important;
  }

  .about__section-item i {
    font-size: 1.1rem;
  }

  .about__section-item {
    gap: 0.9rem;
    margin-top: 0.6rem;
  }
}

@media only screen and (max-width: 407px) {
  .about__section-item {
    display: flex;
    flex-direction: column; /* Dikey hizalama */
    align-items: center; /* Ortalamak için */
  }

  .about__section-item i {
    font-size: 1.1rem !important;
  }
}

@media only screen and (max-width: 343px) {
  .about__section-item p {
    font-size: 0.7rem !important;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .about__img {
    display: none;
  }
  .about__section-item p {
    font-size: 1.1rem;
    margin-top: 1.2rem;
  }
  .about__section-item i {
    margin-top: 1.2rem;
  }
}
