.footer {
  background: #000845;
  padding-top: 50px;
  padding-bottom: 15px;
  position: relative;
  margin-top: 40px;
}

.custom-logo {
  max-width: 100%;
  /* Resmin genişliği, kapsayıcı genişliğini geçmemesi için */
  height: auto;
  /* Yükseklik oranını korur */
}

.footer__logo {
  margin-right: 50px;
  /* Sağdan boşluk bırakır */
}

.footer__logo i {
  color: #fff;
  font-weight: 400;
}

.footer__logo span {
  color: #fff;
  font-weight: 500;
}

.footer__logo-content {
  color: rgba(255, 255, 255, 0.715);
  margin-right: 50px;
  margin-top: 15px;
  margin-left: 12px;
  line-height: 30px;
  text-align: justify;
  position: relative;
  width: fit-content;
  font-size: 16px;
  display: flex; /* Eğer flex kullanıyorsan */
  flex-direction: column; /* Dikey hizalama */
  align-items: flex-start; /* Sola hizala */
  /* Kapsayıcı genişliğini içeriğe göre ayarlar */
}

.quick__link {
  border: none !important;
  background: transparent !important;
  font-size: 0.9rem !important;
  margin-bottom: 0.3rem;
}

.quick__link a {
  color: rgba(255, 255, 255, 0.562);
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
}

.quick__link a:hover {
  color: #f9a826;
}

.footer__link-title {
  color: #fff;
  font-size: 1rem;
}

.office__info {
  color: rgba(255, 255, 255, 0.562);
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 1.4rem;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #7c8a972f;
  border-radius: 50px;
  background: #06138b77;
}

.newsletter input {
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  flex: 1;
}

.newsletter-link {
  text-decoration: none;
  color: white;
  padding: 0px 4px;
}

.footer__bottom {
  border-top: 1px solid #7c8a972f;
}

.social-icons a {
  margin-right: 28px;
  font-size: 20px;
  color: #dddada; /* İkon rengini ayarla */
  text-decoration: none; /* Alt çizgiyi kaldır */
}

.social-icons a:hover {
  color: #f1ee32; /* Hover durumunda ikon rengini değiştir */
}

.section__descriptionn {
  color: #7c8a97;
  font-size: 1.1rem;
  line-height: 30px;
}

.scroll-to-top {
  position: absolute; /* Footer içinde ortalanması için */
  top: -18px; /* Footer'ın üstüne yapışık olması için yukarıda konumlandır */
  left: 50%; /* Sol tarafa ortala */
  transform: translateX(-50%); /* Tam olarak ortalamak için */
  background-color: #000845; /* Modern simge arka plan rengi */
  color: white; /* Simge rengi */
  border-radius: 50%; /* Yuvarlak simge */
  width: 40px; /* Genişlik */
  height: 40px; /* Yükseklik */
  display: flex; /* Flexbox ile içerik hizalama */
  align-items: center; /* Dikey ortalama */
  justify-content: center; /* Yatay ortalama */
  cursor: pointer; /* Fare ile üzerine gelince tıklanabilir göster */
  font-size: 30px; /* Yazı boyutu */
  border: 2px solid white; /* Beyaz kenarlık */
}

.scroll-to-top:hover {
  background-color: #f1ee32; /* Hover durumunda arka plan rengi değişimi */
}

@media only screen and (max-width: 900px) {
  .footer__logo-content {
    font-size: 0.8rem;
  }

  .quick__link,
  .office__info {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .footer__link-title {
    font-size: 0.9rem;
    margin-top: 18px;
  }

  .section__descriptionn {
    flex-direction: column; /* Dikey hizalama */
  }

  .section__descriptionn span {
    margin: 5px 0; /* Aralarındaki boşluğu artırır */
  }

  .footer__bottom p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 576px) {
  .quick__link,
  .office__info,
  .footer__link-title,
  .section__descriptionn,
  .footer__bottom p {
    display: flex; /* Flex kullanmaya devam et */
    flex-direction: column; /* Dikey hizalama */
    align-items: center; /* Elemanları ortala */
    text-align: center;
  }

  .footer__link-title {
    font-size: 0.9rem;
  }

  .quick__link,
  .office__info,
  .section__descriptionn {
    font-size: 0.8rem !important;
  }

  .social-icons {
    display: flex; /* Flex kullan */
    justify-content: center; /* Ortala */
    flex-direction: row; /* Yan yana diz */
    margin-top: 1rem; /* Üstten boşluk ekle */
  }

  .social-icons a {
    margin: 0 10px; /* İkonlar arasına boşluk ekle */
  }
  .footer__logo-content {
    font-size: 13px;
  }
}
